{{>header}}
<div class="wrapper">
    <div class="container">
        <p>
            This project is a technical challenge set by The Financial Times. It is a server-rendered site that displays
            headlines from The Financial Times. You can use the search box to search for specific key words.
        </p>
        <p>
            The app was built using NodeJS, ExpressJS and Handlebars, it is not using any JavaScript or CSS frameworks,
            it is responsive, accessible, and it performs well on 3g networks.
        </p>
    </div>
</div>
{{>footer}}

