{{>header}}
<div class="wrapper">
    <div class="container">
        <form action="">
            <input type="text" aria-label="Search" title="Type search term here" placeholder="Search headlines">
            <button type="submit">Search</button>
        </form>
    </div>
</div>


<div class="container">
    <p class="loading"></p>

    <div class="headlines">
    </div>
</div>
{{>footer}}


