{{>header}}
<div class="wrapper">
    <div class="container">
        <form>
            <input type="text" aria-label="Search" name="search" title="Type search term here" placeholder="Search headlines">
            <button type="submit">Search</button>
        </form>
    </div>
</div>


<div class="container">
    <p class="loading"></p>

    <div class="headlines">
        {{#each headlines }}
            <ul>
                <li>
                    <a href="{{this.location.uri}}">{{this.title.title}}</a>
                    <p>{{this.editorial.subheading}}</p>
                </li>
            </ul>
        {{/each}}
    </div>

</div>
{{>footer}}


